
.vs/TD/FileContentIndex/36c36b3b-0a9d-4f05-8bc2-19384a097b42.vsidx
.vs/TD/v17/.suo
.vs/TD/v17/Browse.VC.db
.vs/TD/v17/Browse.VC.db-shm
.vs/TD/v17/Browse.VC.db-wal
.vs/TD/v17/Browse.VC.opendb
.vs/TD/v17/DocumentLayout.json
