
.vs/TD/FileContentIndex/36c36b3b-0a9d-4f05-8bc2-19384a097b42.vsidx
.vs/TD/v17/.suo
.vs/TD/v17/Browse.VC.db
.vs/TD/v17/Browse.VC.db-shm
.vs/TD/v17/Browse.VC.db-wal
.vs/TD/v17/Browse.VC.opendb
.vs/TD/v17/DocumentLayout.json
.vs/TD/v17/ipch/AutoPCH/8d8495846243faf2/MAIN.ipch
Generated/Obj/TD/Debug/DirectXCommon.obj
Generated/Obj/TD/Debug/GameScene.obj
Generated/Obj/TD/Debug/ImGuiManager.obj
Generated/Obj/TD/Debug/main.obj
Generated/Obj/TD/Debug/Novice.obj
Generated/Obj/TD/Debug/StringUtility.obj
Generated/Obj/TD/Debug/TD.exe.recipe
Generated/Obj/TD/Debug/TD.ilk
Generated/Obj/TD/Debug/TD.log
Generated/Obj/TD/Debug/TD.tlog/CL.23712.write.1.tlog
Generated/Obj/TD/Debug/TD.tlog/CL.command.1.tlog
Generated/Obj/TD/Debug/TD.tlog/Cl.items.tlog
Generated/Obj/TD/Debug/TD.tlog/CL.read.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link.command.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link.read.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link.secondary.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link.write.1.tlog
Generated/Obj/TD/Debug/TD.tlog/TD.lastbuildstate
Generated/Obj/TD/Debug/TextureManager.obj
Generated/Obj/TD/Debug/vc143.idb
Generated/Obj/TD/Debug/vc143.pdb
Generated/Obj/TD/Debug/WinApp.obj
Generated/Outputs/Debug/NoviceResources/axis/axis.jpg
Generated/Outputs/Debug/NoviceResources/axis/axis.mtl
Generated/Outputs/Debug/NoviceResources/axis/axis.obj
Generated/Outputs/Debug/NoviceResources/cube/cube.jpg
Generated/Outputs/Debug/NoviceResources/cube/cube.mtl
Generated/Outputs/Debug/NoviceResources/cube/cube.obj
Generated/Outputs/Debug/NoviceResources/debugfont.png
Generated/Outputs/Debug/NoviceResources/fanfare.wav
Generated/Outputs/Debug/NoviceResources/kamata.ico
Generated/Outputs/Debug/NoviceResources/mokugyo.wav
Generated/Outputs/Debug/NoviceResources/sample.png
Generated/Outputs/Debug/NoviceResources/shaders/Obj.hlsli
Generated/Outputs/Debug/NoviceResources/shaders/ObjPS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/ObjVS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/Primitive.hlsli
Generated/Outputs/Debug/NoviceResources/shaders/PrimitivePS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/PrimitiveVS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/Shape.hlsli
Generated/Outputs/Debug/NoviceResources/shaders/ShapePS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/ShapeSRGBOutputPS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/ShapeVS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/Sprite.hlsli
Generated/Outputs/Debug/NoviceResources/shaders/SpritePS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/SpriteSRGBOutputPS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/SpriteVS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/Terrain.hlsli
Generated/Outputs/Debug/NoviceResources/shaders/TerrainPS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/TerrainVS.hlsl
Generated/Outputs/Debug/NoviceResources/tex1.png
Generated/Outputs/Debug/NoviceResources/uvChecker.png
Generated/Outputs/Debug/NoviceResources/white1x1.png
Generated/Outputs/Debug/TD.exe
Generated/Outputs/Debug/TD.pdb
.vs/TD/FileContentIndex/1b61469f-a009-49d8-959d-c4b1620ab328.vsidx
.vs/TD/FileContentIndex/30c8ea8e-7420-4082-ab4f-354acfe6a396.vsidx
.vs/TD/v17/ipch/AutoPCH/395ff353ff11fc66/RESOURCE_MANAGER.ipch
.vs/TD/v17/ipch/AutoPCH/812dbbf4b244f0c/CSV_PARSER.ipch
