
Generated/Outputs/Debug/TD.pdb
Generated/Outputs/Debug/TD.exe
Generated/Outputs/Debug/NoviceResources/white1x1.png
Generated/Outputs/Debug/NoviceResources/uvChecker.png
Generated/Outputs/Debug/NoviceResources/tex1.png
Generated/Outputs/Debug/NoviceResources/shaders/TerrainVS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/TerrainPS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/Terrain.hlsli
Generated/Outputs/Debug/NoviceResources/shaders/SpriteVS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/SpriteSRGBOutputPS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/SpritePS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/Sprite.hlsli
Generated/Outputs/Debug/NoviceResources/shaders/ShapeVS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/ShapeSRGBOutputPS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/ShapePS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/Shape.hlsli
Generated/Outputs/Debug/NoviceResources/shaders/PrimitiveVS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/PrimitivePS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/Primitive.hlsli
Generated/Outputs/Debug/NoviceResources/shaders/ObjVS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/ObjPS.hlsl
Generated/Outputs/Debug/NoviceResources/shaders/Obj.hlsli
Generated/Outputs/Debug/NoviceResources/sample.png
Generated/Outputs/Debug/NoviceResources/mokugyo.wav
Generated/Outputs/Debug/NoviceResources/kamata.ico
Generated/Outputs/Debug/NoviceResources/fanfare.wav
Generated/Outputs/Debug/NoviceResources/debugfont.png
Generated/Outputs/Debug/NoviceResources/cube/cube.obj
Generated/Outputs/Debug/NoviceResources/cube/cube.mtl
Generated/Outputs/Debug/NoviceResources/cube/cube.jpg
Generated/Outputs/Debug/NoviceResources/axis/axis.obj
Generated/Outputs/Debug/NoviceResources/axis/axis.mtl
Generated/Outputs/Debug/NoviceResources/axis/axis.jpg
Generated/Obj/TD/Debug/WinApp.obj
Generated/Obj/TD/Debug/vc143.pdb
Generated/Obj/TD/Debug/vc143.idb
Generated/Obj/TD/Debug/TextureManager.obj
Generated/Obj/TD/Debug/TD.tlog/TD.lastbuildstate
Generated/Obj/TD/Debug/TD.tlog/link.write.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link.secondary.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link.read.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link.command.1.tlog
Generated/Obj/TD/Debug/TD.tlog/CL.read.1.tlog
Generated/Obj/TD/Debug/TD.tlog/Cl.items.tlog
Generated/Obj/TD/Debug/TD.tlog/CL.command.1.tlog
Generated/Obj/TD/Debug/TD.tlog/CL.23712.write.1.tlog
Generated/Obj/TD/Debug/TD.log
Generated/Obj/TD/Debug/TD.ilk
Generated/Obj/TD/Debug/TD.exe.recipe
Generated/Obj/TD/Debug/StringUtility.obj
Generated/Obj/TD/Debug/Novice.obj
Generated/Obj/TD/Debug/main.obj
Generated/Obj/TD/Debug/ImGuiManager.obj
Generated/Obj/TD/Debug/GameScene.obj
Generated/Obj/TD/Debug/DirectXCommon.obj
Generated/Obj/TD/Debug/csv_parser.obj
Generated/Obj/TD/Debug/player.obj
Generated/Obj/TD/Debug/resource_manager.obj
Generated/Obj/TD/Debug/scene_manager.obj
Generated/Obj/TD/Debug/stage.obj
Generated/Obj/TD/Debug/TD.tlog/CL.write.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link-cvtres.read.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link-cvtres.write.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link-rc.read.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link-rc.write.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link.50844-cvtres.read.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link.50844-cvtres.write.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link.50844-rc.read.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link.50844-rc.write.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link.50844.read.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link.50844.read.2.tlog
Generated/Obj/TD/Debug/TD.tlog/link.50844.read.3.tlog
Generated/Obj/TD/Debug/TD.tlog/link.50844.read.4.tlog
Generated/Obj/TD/Debug/TD.tlog/link.50844.write.1.tlog
Generated/Obj/TD/Debug/TD.tlog/link.read.2.tlog
Generated/Obj/TD/Debug/TD.tlog/link.read.3.tlog
Generated/Obj/TD/Debug/TD.tlog/link.read.4.tlog
Generated/Obj/TD/Debug/TD.tlog/unsuccessfulbuild
Generated/Obj/TD/Release/csv_parser.obj
Generated/Obj/TD/Release/DirectXCommon.obj
Generated/Obj/TD/Release/GameScene.obj
Generated/Obj/TD/Release/ImGuiManager.obj
Generated/Obj/TD/Release/main.obj
Generated/Obj/TD/Release/Novice.obj
Generated/Obj/TD/Release/player.obj
Generated/Obj/TD/Release/resource_manager.obj
Generated/Obj/TD/Release/scene_manager.obj
Generated/Obj/TD/Release/stage.obj
Generated/Obj/TD/Release/StringUtility.obj
Generated/Obj/TD/Release/TD.exe.recipe
Generated/Obj/TD/Release/TD.iobj
Generated/Obj/TD/Release/TD.ipdb
Generated/Obj/TD/Release/TD.log
Generated/Obj/TD/Release/TD.tlog/CL.command.1.tlog
Generated/Obj/TD/Release/TD.tlog/Cl.items.tlog
Generated/Obj/TD/Release/TD.tlog/CL.read.1.tlog
Generated/Obj/TD/Release/TD.tlog/CL.write.1.tlog
Generated/Obj/TD/Release/TD.tlog/link.command.1.tlog
Generated/Obj/TD/Release/TD.tlog/link.read.1.tlog
Generated/Obj/TD/Release/TD.tlog/link.secondary.1.tlog
Generated/Obj/TD/Release/TD.tlog/link.write.1.tlog
Generated/Obj/TD/Release/TD.tlog/TD.lastbuildstate
Generated/Obj/TD/Release/TextureManager.obj
Generated/Obj/TD/Release/vc143.pdb
Generated/Obj/TD/Release/WinApp.obj
Generated/Outputs/Release/NoviceResources/axis/axis.jpg
Generated/Outputs/Release/NoviceResources/axis/axis.mtl
Generated/Outputs/Release/NoviceResources/axis/axis.obj
Generated/Outputs/Release/NoviceResources/cube/cube.jpg
Generated/Outputs/Release/NoviceResources/cube/cube.mtl
Generated/Outputs/Release/NoviceResources/cube/cube.obj
Generated/Outputs/Release/NoviceResources/debugfont.png
Generated/Outputs/Release/NoviceResources/fanfare.wav
Generated/Outputs/Release/NoviceResources/kamata.ico
Generated/Outputs/Release/NoviceResources/mokugyo.wav
Generated/Outputs/Release/NoviceResources/sample.png
Generated/Outputs/Release/NoviceResources/shaders/Obj.hlsli
Generated/Outputs/Release/NoviceResources/shaders/ObjPS.hlsl
Generated/Outputs/Release/NoviceResources/shaders/ObjVS.hlsl
Generated/Outputs/Release/NoviceResources/shaders/Primitive.hlsli
Generated/Outputs/Release/NoviceResources/shaders/PrimitivePS.hlsl
Generated/Outputs/Release/NoviceResources/shaders/PrimitiveVS.hlsl
Generated/Outputs/Release/NoviceResources/shaders/Shape.hlsli
Generated/Outputs/Release/NoviceResources/shaders/ShapePS.hlsl
Generated/Outputs/Release/NoviceResources/shaders/ShapeSRGBOutputPS.hlsl
Generated/Outputs/Release/NoviceResources/shaders/ShapeVS.hlsl
Generated/Outputs/Release/NoviceResources/shaders/Sprite.hlsli
Generated/Outputs/Release/NoviceResources/shaders/SpritePS.hlsl
Generated/Outputs/Release/NoviceResources/shaders/SpriteSRGBOutputPS.hlsl
Generated/Outputs/Release/NoviceResources/shaders/SpriteVS.hlsl
Generated/Outputs/Release/NoviceResources/shaders/Terrain.hlsli
Generated/Outputs/Release/NoviceResources/shaders/TerrainPS.hlsl
Generated/Outputs/Release/NoviceResources/shaders/TerrainVS.hlsl
Generated/Outputs/Release/NoviceResources/tex1.png
Generated/Outputs/Release/NoviceResources/uvChecker.png
Generated/Outputs/Release/NoviceResources/white1x1.png
Generated/Outputs/Release/TD.exe
Generated/Outputs/Release/TD.pdb
